<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
    <head >
        <title>EASYMULL</title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" />     
        <link rel="stylesheet" href="/css/dashboard.css" />
        <link rel="stylesheet" href="/css/cardsPrincipal.css"/>

    </head>

    <body>
        <div th:replace="fragmentos/menuPrincipal :: menuPrincipal"></div> 
        <div class="main-content">
            <div class="title">SECTOR ADMINISTRATIVO</div>
            <main class="cards">
                <section class="card inscricao">
                    <div class="icon">
                        <img src="/img/classroom.png" alt="Serviços">
                    </div>
                    <h3>Registar Turmas</h3>
                    <span>Efectue o registo de turmas no sistema SIGE</span>
                    <a href="/turmas/listarTurmas">Registar</a>
                </section>
                <section class="card matricula">
                    <div class="icon">
                        <img src="/img/people_32px.png" alt="Matrículas">
                    </div>
                    <h3>Inscrição de Alunos</h3>
                    <span>Efectue a matrícula de estudantes nos variados cursos da Instituição</span>
                    <a href="/inscricoes/listar_inscricoes">Inscrever</a>
                </section>
                <section class="card matricula">
                    <div class="icon">
                        <img src="/img/mortarboard_80px.png" alt="Matrículas">
                    </div>
                    <h3>Matrículas de Alunos</h3>
                    <span>Efectue a matrícula de estudantes nos variados cursos da Instituição</span>
                    <a href="/turmas/listarTurmas">Matricular</a>
                </section>
                <section class="card funcionario">
                    <div class="icon">
                        <img src="/img/people_50px.png" alt="Funcionários">
                    </div>
                    <h3>Registo de Funcionários</h3>
                    <span>Efectue o registo dos funcionários no sistema</span>
                    <a href="/funcionarios/listarFuncionarios">Registar</a>
                </section>
                <section class="card funcionario">
                    <div class="icon">
                        <img src="/img/books.png" alt="Funcionários">
                    </div>
                    <h3>Atribuir Turmas aos Professores</h3>
                    <span>Efectue o registo dos funcionários no sistema</span>
                    <a href="/funcionarios/listarProfessorTurmas">Atribuir</a>
                </section>

            </main>
        </div>
    </body>

</html>