<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
    <head >
        <title>EASYMULL</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" />
        <link rel="stylesheet"  href="/css/formularios.css"/>
        <link rel="stylesheet" href="/css/dashboard.css" />
        <link rel="stylesheet" type="text/css" href="/css/sweetAlert.min.css"/>

    </head>

    <body>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        <input type="hidden" name="_csrf_header" th:value="${_csrf.headerName}"/>
        <div th:replace="fragmentos/menuPrincipal :: menuPrincipal"></div> 
        <div class="container">                       
            <form method="POST" th:object="${emolumento}"  th:action="@{/pagamentoAluno}">
                <div class="recent-grid">
                    <div class="projects">
                        <!--MESSAGENS-->
                        <th:block th:include="fragmentos/MessagensDeAlertas"></th:block>
                        <div class="card">
                            <div class="card-header">
                                <h3 class="title">Editar Dados de Emolumentos</h3>
                                <a href="/listarPagamentosAlunos" >Listar Pagamento</a>
                            </div>
                            <div class="card-header">
                                <a href="/gerar_factura" style="background-color: #c43c05;">Print/Factura</a>
                            </div>
                            <input type="hidden" th:field="*{codigo}">
                            <div class="user-details">
                                <div class="input-box">
                                    <span class="details">Nome Completo</span>
                                    <p class="input" th:text="${emolumento.matricula.aluno.nome} +' '+ ${emolumento.matricula.aluno.sobrenome}"></p>
                                </div>
                                <div class="input-box">
                                    <span class="details">B.I/Cédula/Outros</span>
                                    <input type="text"  id="bi" disabled="true" th:field="*{matricula.aluno.bi}" style="background-color: #fff; color: #434343;">
                                </div>
                                <div class="input-box">
                                    <span class="details">Nº do Estudante</span>
                                    <input type="text"  id="bi" disabled="true" th:field="*{matricula.codigo}" style="background-color: #fff; color: #434343;">
                                </div>
                                <div class="input-box">
                                    <span class="details">Turma</span>
                                    <input type="text"  id="turma" th:field="*{matricula.turma.nome}" disabled="true" style="background-color: #fff; color: #434343;">
                                </div>
                                <div class="input-box">
                                    <span class="details">Curso</span>
                                    <input type="text"  id="curso" th:field="*{matricula.turma.curso.nome}"  disabled="true" style="background-color: #fff; color: #434343;">
                                </div>
                                <div class="input-box">
                                    <span class="details">Classe</span>
                                    <input type="text" th:field="*{matricula.turma.classe}" id="classe" disabled="true" style="background-color: #fff; color: #434343;">
                                </div>
                                <div class="input-box">
                                    <span class="details">Períudo</span>
                                    <input type="text"  id="periodo" th:field="*{matricula.turma.periodo}" disabled="true" style="background-color: #fff; color: #434343;">
                                </div>
                                <div class="input-box">
                                    <span class="details">Ano Académico</span>
                                    <input type="text"  id="anoCurricular" th:field="*{matricula.anoLectivo}"  disabled="true" style="background-color: #fff; color: #434343;">
                                </div>
                                <div class="input-box">
                                    <span class="details">Tipo de Emolumento </span>
                                    <select class="form-control" th:field="*{servico}">
                                        <option value="" >Selecione o Tipo de Emolumento</option>
                                        <option th:each="servico : ${servicos}"  th:value="${servico.codigo}" th:text="${servico.nomeServico}"></option>
                                    </select>
                                    <span class="error-filds" th:if="${#fields.hasErrors('servico')}" 
                                          th:errors="*{servico}">
                                    </span>
                                </div>
                                <div class="input-box">
                                    <span class="details">Valor a Pagar</span>
                                    <input type="text" class="js-maskMoney" th:field="*{valorApagar}">
                                    <span class="error-filds" th:if="${#fields.hasErrors('valorApagar')}" 
                                          th:errors="*{valorApagar}">
                                    </span>
                                </div>                                                     
                                <div class="input-box">
                                    <span class="details">Mês Referente</span>
                                    <select th:field="*{mesReferente}">
                                        <option value="">Selecione o Mês Referente</option>
                                        <option th:each="mesReferente : ${T(com.ispi.projectoIspi.Enum.MesReferente).values()}"
                                                th:value="${mesReferente}" th:text="${mesReferente}"></option>
                                    </select>
                                    <span class="error-filds" th:if="${#fields.hasErrors('mesReferente')}" 
                                          th:errors="*{mesReferente}">
                                    </span>
                                </div>
                                <div class="input-box">
                                    <span class="details">Forma Pagamento</span>
                                    <select th:field="*{formaDePagamento}">
                                        <option value="">Informe a forma de Pagamento</option>
                                        <option th:each="formaDePagamento : ${T(com.ispi.projectoIspi.Enum.FormaPagamentos).values()}"
                                                th:value="${formaDePagamento}" th:text="${formaDePagamento}"></option>
                                    </select>
                                    <span class="error-filds" th:if="${#fields.hasErrors('formaDePagamento')}" 
                                          th:errors="*{formaDePagamento}">
                                    </span>
                                </div>                                                        
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button">
                    <button type="submit" class="btn">Salvar</button>

                </div> 
            </form>       
        </div>
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/vendors.min.js}"></script>
        <script th:src="@{/js/jquery.mask.js}"></script>
        <script th:src="@{/js/main.js}"></script>
    </body>

</html>