<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<th:block th:fragment="tabelaPagamentos" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="card-body">
        <div class="customer" id="lista" th:each="emolumento : ${emolumentos}">
            <div class="info">
                <div>
                    <th:block th:if="${emolumento.mesReferente== #dates.format(#dates.createNow(), 'MMMM')}">
                        Mês Referente: <h3 style="color: #ffa705; border: none; padding: 5px;" th:text="${emolumento.mesReferente}"></h3>
                    </th:block>
                    <th:block th:if="${emolumento.mesReferente!= #dates.format(#dates.createNow(), 'MMMM')}">
                        Mês Referente: <h3 style="border: none; padding: 5px; font-size: 1.2rem;" th:text="${emolumento.mesReferente}"></h3>
                    </th:block>
                    Data Pagamento: <small th:text="${#dates.format(emolumento.dataPagamento, 'dd/MM/yyyy')}"></small>
                </div>
                <img src="/img/sucess.png" alt="icon" width="25px" height="25px" style="background-color: #ffa705; border-radius: 50%;">
            </div>
        </div>
        <div class="customer">
            <div class="info" th:if="${#lists.isEmpty(emolumentos)}">
                <div>
                    <h3>Nenhum Resultado Encontrado</h3>
                </div>
            </div>
        </div>
    </div>
</th:block>

