<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
    <head >
        <title>EASYMULL</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" />
        <link rel="stylesheet" href="/css/dashboard.css" />
        <link rel="stylesheet" href="/css/cardsPrincipal.css"/>

    </head>

    <body>
        <div th:replace="fragmentos/menuPrincipal :: menuPrincipal"></div> 
        <div class="main-content">
            <div class="title">DEPARTAMENTO FINANCEIRO</div>
            <main class="cards">
                <section class="card inscricao">
                    <div class="icon img">
                        <img src="/img/confirm.svg" alt="Verificar">
                    </div>
                    <h3>Verificação Rápida</h3>
                    <span>Faça um scaneamento rápida para verificar o estado de pagamento do mês corrente.</span>
                    <a href="/transportes/verificacaoRapida" class="button">Verificar</a>
                </section>
                <section class="card funcionario">
                    <div class="icon img">
                        <img src="/img/confirmad.svg" alt="Listar">
                    </div>
                    <h3>Listar Todos Meses</h3>
                    <span>Apresente a lista dos meses pago por um estudante.</span>
                    <a href="/transportes/listarPagamentoTransporte" class="button">Listar</a>
                </section>
                
            </main>

        </div>


    </body>

</html>