<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head >
        <title>EASYMULL</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" />
        <link rel="stylesheet" href="/css/formularios.css"/>
        <link rel="stylesheet" href="/css/dashboard.css" />

    </head>
    <body>
        <div th:replace="fragmentos/menuPrincipal :: menuPrincipal"></div> 
        <div class="container">
            <div class="card-header">
                <h3 class="title">Registo de Municipios</h3>
                <a href="/municipios/listarMunicipios" >Listar Todos</a>
            </div>
            <!--MESSAGENS-->
            <th:block th:include="fragmentos/MessagensDeAlertas"></th:block>
            <form method="POST" th:object="${municipio}" th:action="@{/municipios/cadastrarMunicipio}">
                <div class="user-details">
                    <input type="hidden" th:field="*{codigo}">
                    <div class="input-box">
                        <span class="details">Nome</span>
                        <input type="text" th:field="*{nome}" placeholder="Digite o Nome">
                        <span class="error-filds" th:if="${#fields.hasErrors('nome')}" 
                              th:errors="*{nome}">
                        </span>
                    </div>              
                    <div class="input-box">
                        <span class="details">Província</span>
                        <select class="form-control" th:field="*{provincia}">
                            <option value="" >Selecione uma Província</option>
                            <option th:each="provincia : ${provincias}"  th:value="${provincia.codigo}" th:text="${provincia.nome} +' '+ ${provincia.sigla}"></option>
                        </select>
                        <span class="error-filds" th:if="${#fields.hasErrors('provincia')}" 
                              th:errors="*{provincia}">
                        </span>
                    </div>             
                </div>

                <div class="button">
                    <button type="submit" class="btn">Salvar</button>

                </div>
            </form>
        </div>
        <script th:src="@{/js/main.js}"></script>
    </body>
</html>
