@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


body {
    background: #fff;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #434343;
}
.main-content .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.main-content .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: #028a38;
}

main.cards {
    display: flex;
    padding: 32px;

}

main.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right, #07B870, #03ad83);
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 468px;
    margin-left: 32px;
    color: #fff;
}

main.cards section.card:first-child {
    margin-left: 0;
}

main.cards section.card a {
    padding: 1rem 2rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 90%;
    font-weight: 600;
    color: #fff;
}
main.cards section.card a.button {
    padding: 1rem 3rem;
    cursor: pointer;
    font-size: 90%;
    font-weight: 600;
    color: #fff;
}

main.cards section.card.inscricao a {
    background: linear-gradient(to right, #07A31C, #4BCA27);
}

main.cards section.card.matricula a {
    background: linear-gradient(to right, #13B9D3, #096472);
}

main.cards section.card.funcionario a {
    background: linear-gradient(to right, #E6E621, #707006);
}

main.cards section.card.inscricao {
    box-shadow: 20px 20px 50px -50px #03c042;
}

main.cards section.card.matricula {
    box-shadow: 20px 20px 50px -50px #3E8AFF;
}

main.cards section.card.funcionario {
    box-shadow: 20px 20px 50px -50px #9F66FF;
}

main.cards section.card h3 {
    font-size: 30px;
    margin: 16px 0;
}
section.card h3{
    font-size: 30px;
}

main.cards section.card span {
    font-weight: 300;
    max-width: 240px;
    font-size: 90%;
    margin-bottom: 16px;
}

main.cards section.card .icon {
    width: 64px;
    height: 64px;
}
main.cards section.card .icon.img {
    width: 130px;
    height: 130px;
}

main.cards section.card img {
    width: 100%;
}
@media screen and (max-width: 926px) {
    .main-content .title{
        font-size: 20px;
        margin-top: 35%;
        content: '';
        text-align: center;
        align-items: center;
        left: 2rem;
        bottom: 0;
        height: 3px;
        width: 30px;
        background: #028a38;
        margin-bottom: 10%;
    }
    main.cards {
        height: 80vh;
        flex-direction: column;
    }
    main.cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
    }
    main.cards section.card:last-child {
        margin-bottom: 0;
    }
    main.cards section.card a {
        font-size: 70%;
    }
}

