<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
    <head >
        <title>EASYMULL</title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" />     
        <link rel="stylesheet" href="/css/dashboard.css" />
        <link rel="stylesheet" href="/css/cardsPrincipal.css"/>

    </head>

    <body>
        <div th:replace="fragmentos/menuPrincipal :: menuPrincipal"></div> 
        <div class="main-content">
            <div class="title">RELATÓRIOS</div>
            <main class="cards">
                <section class="card matricula">
                    <div class="icon img">
                        <img src="/img/pdf.png" alt="Report">
                    </div>
                    <h3>Controle dos Alunos</h3>
                    <span>Faça a impressão das listas dos alunos referente as turmas específicas</span>
                    <a href="/matriculas/relatorio_lista_alunos_pages">Imprimir</a>
                </section>
                <!--section class="card funcionario">
                    <div class="icon img">
                        <img src="/img/pay_one.svg" alt="Funcionários">
                    </div>
                    <h3>Pagamento de Propinas</h3>
                    <span>Efectue a impressão da lista dos alunos com atraso nos pagamentos das propinas</span>
                    <a href="/funcionarios/listarFuncionarios">Imprimir</a>
                </section-->

            </main>
        </div>
    </body>

</html>